/*Responsive*/


/*Tablet*/

@media (max-width: 1200px) {
    #header.sticky #logo {
        margin-left: 10px;
        /*margin-bottom: 5px;*/
    }
    #logo {
        margin-left: 10px;
        /*text-align: center;
        margin-bottom: 10px;*/
        font-size: 30px;
    }
    ul#main-menu {
        display: none;
    }
    #menuButton {
        display: block;
        border-radius: 5px;
    }
    #slider-highlight {
        margin-top: 65px;
        display: block;
    }
    .slider-highlight-slider {
        margin-right: 10px;
        max-width: 100%;
    }
    .slider-highlight-highlight {
        margin-top: 10px;
        padding-right: 0px;
        flex-wrap: unset;
    }
    .slider-highlight-highlight-image1 {
        margin-bottom: 0px;
    }
    .slider-highlight-highlight-image2 {
        margin-bottom: 0px;
    }
    .slider-highlight-highlight-image3 {
        padding-left: 10px;
    }
    .slider-highlight-highlight-image4 {
        padding-right: 10px;
    }
    .grid-container {
        grid-template-columns: auto auto auto;
    }
    .grid-item {
        height: 300px;
    }
    .grid-item:hover:disabled .promo-image {
        transform: none;
        pointer-events: none;
        display: none;
    }
    .promo-image {
        margin: 10px auto;
    }
    .promo-image-detail {
        height: 150px;
    }
}


/*Mobile 740*/

@media (max-width: 740px) {
    .wrap {
        /*display: none;*/
        width: auto;
    }
    .searchTerm {
        display: none;
    }
    .searchButton {
        border-radius: 5px;
    }
    ul#main-menu {
        display: none;
    }
    .slider-highlight-slider {
        margin-right: 10px;
        max-width: 100%;
    }
    .grid-container {
        grid-template-columns: auto auto;
    }
}